@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* Navbar css */
.navbar{
  font-family: 'Poppins', serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px grey;
  border-bottom: 0 solid grey !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active{
  border-bottom: 1px solid black;
}

.navbar-brand{
  font-weight: 700px;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

.brand-icon{
  margin-bottom: 8px;
  margin-right: 2px;
  color: goldenrod;
  font-size: larger;
  font-weight: 700;
}


/* *********
     Footer css
********* */

.footer{
  color: white;
  padding: 25px;
  background: linear-gradient(to right, #434343, #000000);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;

}

.footer a:hover{
  color: #d8bebe;
  border-bottom: 1px solid #d8bebe;
}